.red {
    color: red;
}
  
.italic {
    font-style: italic;
}


.Button {
    border: 1px solid blue;
    padding: 16px;
    background-color: green;
    font: inherit;
    color: white;
}
  
.Button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

.Button.Red {
    background-color: red;
}
  
.Button.Red:hover {
    background-color: salmon;
    color: black;
}