.App ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

.App li {
    display: inline-block;
    margin: 10px;
}

.App a{
    text-decoration: none;
    color: black;
}

.App a:hover {
    color: orange;
}

.active {
    color: orange !important;
}